<div class="col-1 sidebar" style="min-height: 100%">
    <div class="d-flex flex-column flex-shrink-0" style="width: 4.5rem; min-height:100vh; background-color: #353A50;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="/" class="nav-link active py-3" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i style="width: 24px; height: 24px; font-size: 24px; color: white" class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="/datasets" class="nav-link py-3" title="Fontes de dados" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i style="width: 24px; height: 24px; font-size: 24px; color: white" class="fa fa-database" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="dropdown border-top">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <i style="width:24px; height:24px; font-size: 24px; color: white" class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li id="sidebar-my-account-button" style="display: none"><a class="dropdown-item" href="#">Minha conta</a></li>
                <li id="sidebar-dropdown-divider" style="display: none"><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/login">Log in</a></li>
                <li style="display: none"><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
