/* Estilo Geral */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e2e; /* Fundo escuro */
  color: #ffffff; /* Cor do texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

/* Logo Centralizada */
header.logo {
  text-align: center;
  margin: 20px 0;
}

header.logo img {
  max-width: 200px;
  height: auto;
}

/* Layout Principal */
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "filters map"
    "filters charts";
  width: 90%;
  height: 90%;
  gap: 15px;
}

/* Filtros */
#filters {
  grid-area: filters;
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
}

#filters h3 {
  margin-top: 0;
  color: #ffffff;
}

#filters label,
#filters select {
  display: block;
  margin-top: 10px;
}

#filters select {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #44475a;
  color: #ffffff;
  border: none;
}

/* Mapa */
#map {
  grid-area: map;
  height: 400px;
  background-color: #282a36;
  border-radius: 10px;
  overflow: hidden;
}

/* Gráficos */
#charts {
  grid-area: charts;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.chart-container {
  width: 300px;
  height: 200px;
  background-color: #282a36;
  border-radius: 10px;
  padding: 10px;
}

/* estilo do sidebar */

.nav-pills{
    --bs-nav-pills-link-active-bg: #5f6993 !important
}

/* estilo do sidebar */

.main-content{
    max-height: 62vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    scrollbar-color: #3E3E56 #1E1E2E;
    scrollbar-width: thin;
}

.card-reports{
    background-color: #1E1E2E;
    min-height: 302px;
}

.card-datasets{
    background-color: #1E1E2E;
    min-height: 302px;
}

.cell-visualization{
  background-color: black;
  text-align: center;
  padding: 10px;
  border-right-color: #353A50 !important;
  border-right: solid 5px;
  border-top-color: #353A50 !important;
  border-top: solid 5px;
}

/* Mantem select 2 acima dos outros elementos */
span.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

span.select2.select2-container.select2-container--default.select2-container--below{
    max-width: 100% !important;
}
